.landing-header {
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    .landing-header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        flex-wrap: wrap;

        .logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            flex: 1 1 auto; // 使 logo 可缩放
        }

        .landing-header-logo {
            display: inline-block;
            width: 45px;
            height: 45px;
            padding: 1rem;
        }

        .landing-header-logo-text {
            font-size: 1.5rem;
            font-family: "Comic Sans MS", cursive;
            font-weight: bolder;
        }

        .menu {
            display: flex;
            align-items: center;
            flex: 2 1 auto; // 使菜单可缩放
            justify-content: flex-end;
            padding: 0 20px;
            gap: 20px;

            AButton {
                margin: 0 5px;
            }
        }

        @media (max-width: 768px) {
            .landing-header-content {
                flex-direction: column; // 在小屏幕上垂直排列
                align-items: flex-start; // 左对齐
            }

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                flex: 1 1 auto; // 使 logo 可缩放
            }

            .menu {
                justify-content: center; // 中心对齐
                width: 100%;
                gap: 0;
            }

            .landing-header-logo-text {
                font-size: 20px; // 调整字体大小
            }
        }
    }
}
