
.comment-content {
    margin-left: 20px;

    .comment-text {
        width: 600px;
    }

    .comment-actions {
        margin-top: 10px;

        .comment-action-item {
            cursor: pointer;
            color: #767779;


            .comment-action-icon {
                font-size: 14px;
                color: #767779;
            }

            .comment-action-icon:hover {
                color: #08a327;
            }
        }
    }
}
