.user-info-card-main {
    width: 350px;
    min-height: 250px;

    .user-info-card-image {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .user-info-card-name {
        padding-top: 5px;
        padding-left: 10px;

        .user-info-card-content-container {
            margin-left: 10px;

            .user-info-card-name-text {
                color: var(--text-color);
                font-size: 15px;
                font-weight: 600;
            }

            .user-info-card-level-icon {
                width: 40px;
                margin-left: 5px;
                cursor: pointer;
            }
            .user-info-card-info-text{
                font-size: 12px;
                color: #9499a0;
            }
        }

    }
}
