.reply-item-child {
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--comment-child-background-color);
    padding: 10px;
    border-left: var(--comment-child-box-border-color) 2px solid;

    .reply-pagination-child {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .reply-item-child-avatar {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .reply-item-child-content {
        margin-left: 10px;

        .reply-at {
            font-size: 14px;
            color: var(--comment-text-color);
            cursor: pointer;
        }

        .reply-at:hover {
            color: #25a9e3;
        }

        .reply-name-child {
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }

        .reply-name-child:hover {
            color: rgba(15, 15, 16, 0.68);
        }

        .reply-tag-child {
            font-size: 10px;
            font-weight: 800;
            margin-left: 5px;
            cursor: pointer;
        }

        .reply-ip-child {
            font-size: 12px;
            color: var(--comment-text-color);
        }

        .reply-time-child {
            font-size: 12px;
            color: var(--comment-text-color);
        }

        .reply-card-child {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 525px;

            .reply-action-item-child {
                margin-top: 10px;

                .reply-action-btn-child {
                    font-size: 13px;
                    color: var(--comment-text-color);
                    cursor: pointer;
                }

                .reply-action-icon-child {
                    font-size: 14px;
                    color: var(--comment-text-color);
                    cursor: pointer;

                }

                .reply-action-icon-child:hover {
                    font-size: 14px;
                    color: #08a327;
                    cursor: pointer;

                }

                .reply-action-btn-child:hover {
                    font-size: 13px;
                    color: #08a327;
                    cursor: pointer;

                }

                .reply-action-icon-number-child {
                    font-size: 12px;
                    cursor: pointer;
                    color: var(--comment-text-color);
                }

            }

            .reply-action-item-right-child {
                margin-top: 10px;

                .reply-action-btn-child {
                    font-size: 15px;
                    color: var(--comment-text-color);
                    cursor: pointer;
                }

                .reply-action-btn-child:hover {
                    font-size: 15px;
                    color: #08a327;
                    cursor: pointer;
                }

                .reply-action-info-child {
                    font-size: 10px;
                    color: var(--comment-text-color);
                    cursor: pointer;
                }
            }
        }
    }
}


