.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 10px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    //padding-top: 80px;
}

.steps-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 24px;
}
