.main-page {
    display: flex;
    flex-direction: column;
    background-color: #eaeef6;
    color: var(--text-color);
    width: 100%;
    min-height: 100vh;

    .main-header {

    }

    .main-content {
        display: flex;
        flex-direction: row;

        .main-content-container {
            width: calc(100% - 230px);
            height: calc(100% - 110px);
            padding: 20px;
            overflow: scroll;

        }

    }
}
