.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


    .landing-content-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 1100px;
        max-width: 1100px;
        height: 600px;

        .landing-content-first-container {

            .landing-content-first-left {
                width: 550px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;

                .landing-content-first-title {
                    font-size: 30px;
                    font-weight: bold;
                    font-family: "Comic Sans MS", cursive;
                }

                .landing-content-first-subtitle {
                    font-size: 4rem;
                    line-height: 0.5;
                }


            }

            .landing-content-first-right {
                width: 550px;
                height: 100%;
            }
        }

    }
}
