.reply-input-main {
    margin-top: 5px;

    .reply-input-title {
        font-size: 13px;
        color: var(--comment-text-color);
    }

    .reply-input-author {
        font-size: 13px;
        color: var(--comment-text-color);
    }

    .reply-input-cancel {
        margin-left: 10px;
        font-size: 13px;
        color: var(--comment-text-color);
        cursor: pointer;
    }

    .reply-input-content {
        margin-top: 10px;

        .reply-input-content-text {
            //margin-left: 10px;

            .comment-text-reply {
                width: 600px;
            }

            .comment-actions-reply {
                margin-top: 5px;

                .comment-action-item-reply {
                    cursor: pointer;
                    color: var(--comment-text-color);

                    .comment-action-icon-reply {
                        font-size: 14px;
                        color: var(--comment-text-color);
                    }

                    .comment-action-icon-reply:hover {
                        color: #08a327;
                    }
                }
            }
        }
    }


}
