.header-main {
    height: 60px;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.38);
    backdrop-filter: blur(20px);
    transition: background-color 0.3s;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    //border-radius: 20px;
    position: fixed;
    top: 0;
    left: 0;


    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        max-width: 1200px;

        .header-logo-text {
            margin-left: 10px;
            font-size: 25px;
            font-family: "Comic Sans MS", cursive;
            font-weight: bolder;
        }
    }

    .header-logo-container {
        min-width: 280px;
        cursor: pointer;
    }

    .header-menu-container {
        width: 30%;

        .header-menu-item {
            min-width: 50px;

            .header-menu-item-btn {
                font-size: 16px;
            }
        }

        .header-user-container {
            min-width: 130px;

            .header-user-avatar {
                cursor: pointer;
            }
        }
    }

}
