.header-main {
    height: 60px;
    width: 100%;
    min-width: 1200px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.38);
    backdrop-filter: blur(20px);
    transition: background-color 0.3s;
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    .header-logo-container {
        min-width: 280px;
        cursor: pointer;
    }

    .header-menu-container {
        width: 30%;

        .header-menu-item {
            min-width: 50px;

            .header-menu-item-btn {
                font-size: 16px;
            }
        }

        .header-user-container {
            min-width: 130px;

            .header-user-avatar {
                cursor: pointer;
            }
        }
    }

}
