@import "theme";

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
}

#app {
    position: relative;
    transition: background-color 0.3s,
    color 0.3s;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @include useTheme {
        background-color: getModeVar('bgColor') !important;
        color: getModeVar('infoColor') !important;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#nprogress .bar {
    background: #48c453 !important; //自定义颜色
}

#nprogress .peg {
    box-shadow: 0 0 10px cyan, 0 0 5px cyan !important;
}


