:root {
    --background-color: #ffffff;
    --text-color: #000000;
    // 着陆页背景颜色
    --landing-background-color-main: #b9f187;
    --comment-text-color: #767779;
}

[data-dark="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    // 着陆页背景颜色
    --landing-background-color-main: rgb(0, 0, 0);
    --comment-text-color: #ffffff;
}

#app {
    position: relative;
    transition: background-color 0.3s,
    color 0.3s;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}


#nprogress .bar {
    background: #48c453 !important; //自定义颜色
}

#nprogress .peg {
    box-shadow: 0 0 10px cyan, 0 0 5px cyan !important;
}


