:root {
    --background-color: #ffffff;
    --text-color: #000000;
    // 着陆页背景颜色
    --landing-background-color-main: rgba(147, 197, 253, .2);
    // 评论文字颜色
    --comment-text-color: #767779;
    // 评论子评论背景颜色
    --comment-child-background-color: #f5f5f5;

    // 评论列表背景颜色
    --comment-list-background-color: #fafafa;

    // 举报弹窗文字颜色
    --comment-report-text-color: rgba(15, 15, 16, 0.58);
    // 评论框边框颜色
    --comment-child-box-border-color: rgba(147, 197, 253, .2);

    // 白色
    --white-color: #ffffff;

    // 主页文件动图
    --size: 80px;
    --size-folder-back: var(--size);
    --size-page-1: calc(var(--size) * 0.55);
    --size-page-2: calc(var(--size) * 0.65);
    --size-folder-front: var(--size);
    --ratio-page-1: 0.95;
    --ratio-page-2: 1.05;
    --ratio-page-2-height: 0.5;
    --ratio-page-2-offset: 0;
    --scale-folder: 1;
    --scale-pages: 0.7;
    --opacity-page-2: 1;

}

[data-dark="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    // 着陆页背景颜色
    --landing-background-color-main: rgb(0, 0, 0);
    // 评论文字颜色
    --comment-text-color: #ffffff;
    // 评论子评论背景颜色
    --comment-child-background-color: rgb(0, 0, 0);

    // 评论列表背景颜色
    --comment-list-background-color: rgba(15, 15, 16, 0.3);

    // 举报弹窗文字颜色
    --comment-report-text-color: #ffffff;
    // 评论框边框颜色
    --comment-child-box-border-color: #ffffff;

    // 白色
    --white-color: #ffffff;
}

#app {
    position: relative;
    transition: background-color 0.3s,
    color 0.3s;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    font-size: 16px;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

// 取消antd table 最后一行的边框
.ant-table-wrapper .ant-table:not(.ant-table-bordered) .ant-table-tbody > tr:last-child > td {
    border-bottom: none !important;
}
