.comment-main {
    display: flex;
    flex-direction: column;
    //border: 1px solid #ccc;
    //margin-top: 20px;
    width: 700px;
    //padding: 50px;

    .comment-header-title {
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
